code {
  [ion-fixed], .ion-fixed {
    min-height: 100vh;
    background: rgb(175, 93, 33);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-label,
    ion-item {
      color: white
    }
    
    ion-item {
      background: transparent;
    }
  }
}
