$location-marker-size: 40px;
$postition-marker_size: 70px;
$map-button-size: 40px;

.mapboxgl-ctrl a.mapboxgl-ctrl-logo,
.mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
}

.mapboxgl-user-location-dot.mapboxgl-marker {
  background-color: transparent;
  background-image: url('../assets/imgs/panda.png');
  background-size: cover;
  width: $location-marker-size;
  height: $location-marker-size;
  box-shadow: none;

  &:before,
  &:after {display: none;}
}

button.mapboxgl-ctrl-icon {
  width: $map-button-size;
  height: $map-button-size;
}

.mapboxgl-marker {
  background-size: cover;
  width: $postition-marker_size;
  height: $postition-marker_size * 1.22;

  &.poi {
    &__dome {background-image: url('../assets/imgs/pois/dome.png');}
    &__frog {background-image: url('../assets/imgs/pois/frog.png');}
    &__search {background-image: url('../assets/imgs/pois/search.png');}
    &__statue {background-image: url('../assets/imgs/pois/statue.png');}
    &__stones {background-image: url('../assets/imgs/pois/stones.png');}
    &__hexagons {background-image: url('../assets/imgs/pois/hexagons.png');}
    &__castle {background-image: url('../assets/imgs/pois/castle.png');}
  }
}

.compass {
  position: fixed;
  z-index: 9999;
  bottom: 7vh;
  left: 38vw;
  width: 100px;
  height: 100px;
  .compass__distance,
  .compass__background,
  .compass__arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
    transition: all 300ms;
  }
  .compass__background {
    background-image: url('../assets/imgs/compassbackground.png');
    width: 25vw;
    height: 25vw;
  }
  .compass__arrow {
    width: 5vw;
    height: 5vw;
    left: 10vw;
    bottom: 10vw;
    background-image: url('../assets/imgs/compasspointer.png');
  }
  .compass__distance {
    margin-bottom: -5vh;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.25em;
  }
}

.distnaceToPoi {
  position: absolute;
  top: 0;
}
